@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.announcement {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    padding: 10px;
}

.announcement-1 {
    display: inline-flex;
    justify-content: right;
}

.announcement-2 {
    justify-content: right;
    display: flex;
    margin: 0 20%;
}

.announcement-text {
    background-color: orange;
    height: 20px;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid orange;
}

.announcement i {
    align-self: center;
}

div.scrolling-limit {
    width: 50%;
    height: 20px;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid orange;
    /* border-radius: 10px; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

div.scrolling {
    position: relative;
    -webkit-animation: scroll 20s infinite linear;
    ;
    -moz-animation: scroll 20s infinite linear;
    -o-animation: scroll 20s infinite linear;
    animation: scroll 20s infinite linear;
}

@keyframes scroll {
    0% {
        left: 500px;
    }
    100% {
        left: -950px;
    }
}

@-webkit-keyframes scroll {
    0% {
        left: 500px;
    }
    100% {
        left: -950px;
    }
}

nav {
    box-shadow: 0 5px 5px -2px rgb(0 0 0 / 20%);
}

nav img {
    padding: 20px;
    margin: 0 10%;
}

hr {
    width: 10%;
    color: #F96;
    background-color: #F96;
    border: 0;
    height: 5px;
    border-radius: 5px;
    margin: auto;
}

nav button {
    float: right;
    background: #79139a;
    border: 0;
    padding: 15px;
    border-radius: 110px;
    color: #fff;
    margin: 25px 10%;
    font-size: 15px;
}

.banner {
    background-image: url(images/mobile-wallpaper.jpg);
    background-size: contain;
}

.banner h1 {
    color: #fff;
    align-self: center;
    padding: 50px;
    text-align: center;
}


/* .mobile img {
    display: none;
} */

.mobile {
    text-align: right;
    align-self: center;
}

.container {
    /* position: absolute; */
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    right: 5%;
    align-self: center;
}

#contact span {
    color: #FF4500;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],

/* #contact textarea, */

#contact button[type="submit"] {
    font: 400 12px/16px;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 50px 0;
}

#contact h3 {
    color: #F96;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="number"] {
    width: 90%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="number"]:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #6F3984;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background-color: #A47CB0;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

.features {
    text-align: center;
    padding: 15px;
}

.details {
    text-align: center;
    padding: 15px;
    background-color: #EEECDA;
}

.col-text {
    height: 20em;
}

.col-3 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width:550px) {
    .col-3 {
        grid-template-columns: auto;
    }
}

@media screen and (max-width:600px) {
    nav button {
        display: none !important;
    }
    nav {
        text-align: center;
    }
    .col-2 {
        grid-template-columns: auto !important;
    }
    .grid {
        grid-template-columns: auto !important;
        margin-top: 20px;
    }
    .card {
        width: 220px !important;
    }
    .admission {
        grid-template-columns: auto !important;
    }
    .footer-1 {
        grid-template-columns: auto !important;
    }
    .carousel {
        width: 80% !important;
    }
    .announcement {
        grid-template-columns: 100% !important;
    }
    .announcement-1 {
        justify-content: center;
        text-align: center;
    }
    .announcement-2 {
        justify-content: center;
    }
    .group {
        grid-template-columns: auto auto !important;
    }
    .mobile {
        text-align: center !important;
    }
    .fees-3 {
        grid-template-columns: auto !important;
        gap: 2%;
    }
    .banner {
        background-image: url(images/mobile-wallpaper.jpg);
    }
}

.col-2 p {
    padding-bottom: 20px;
    text-align: justify;
}

.col-2 {
    display: grid;
    grid-template-columns: 50% 40%;
    justify-items: center;
    align-items: center;
    padding: 20px;
    gap: 5%;
}

.col-2 img {
    width: 80%;
}

blockquote {
    margin: 0;
    display: block;
    border-radius: 8px;
    position: relative;
    /* background-color: #6F3984; */
    padding: 30px 10px 65px 10px;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 0 0;
    line-height: 1.6em;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); */
}

blockquote:before,
blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
}

blockquote:before {
    top: 15px;
    left: 0px;
}

blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 35px;
}

.grid {
    grid-template-columns: 50% 50%;
    display: grid;
    justify-items: center;
    width: 100%;
}

.testimonials {
    text-align: center;
    /* background-color: #EEECDA; */
    padding: 30px 0;
}

.testimonials h4 {
    margin: auto;
}

.third button {
    background: #79139a;
    border: 0;
    padding: 15px;
    border-radius: 110px;
    color: #fff;
    margin: 25px 10%;
    font-size: 15px;
}

.third {
    text-align: center;
    margin-top: 30px;
}

.group {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    justify-items: center;
}

.group img {
    width: 50%;
}

.awards {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.awards p {
    padding: 0 70px;
}

.row1 img {
    border: 2px solid #79139a;
}

.row1 {
    gap: 0;
    grid-template-columns: 50% 50%;
    gap: 2%;
}

.row2 {
    gap: 0;
    grid-template-columns: 50% 50%;
    gap: 2%;
}

.row2 img {
    border: 2px solid #79139a;
}

.row3 {
    gap: 0;
    grid-template-columns: 50% 50%;
    gap: 2%;
}

.row3 img {
    border: 2px solid #79139a;
}

footer {
    text-align: center;
    background-color: #fafafa;
    color: black;
    margin: -5px 0;
    padding: 20px 0;
}

.footer-1 {
    display: grid;
    grid-template-columns: auto auto;
}

footer img {
    padding: 20px;
    margin: 0 10%;
    height: 50px;
}

.footer hr {
    width: 100%;
    background-color: grey;
    border: 0;
    height: 0.5px;
    margin: 10px 0;
}

.footer a {
    color: inherit;
    text-decoration: inherit;
}

.social i {
    color: #7d7d93;
    padding: 20px;
}

.social {
    display: inline-flex;
    /* display: grid;
    grid-template-columns: auto auto auto auto auto; */
    list-style-type: none;
}

.float {
    z-index: 1;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    left: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}

.wrapper {
    width: 100%;
    padding-top: 20px;
    text-align: center;
}

.carousel {
    width: 90%;
    margin: 0px auto;
}

.slick-slide {
    margin: 10px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev,
.slick-next {
    /* background: #000; */
    border-radius: 15px;
    border-color: transparent;
}

.slick-prev:before,
.slick-next:before {
    color: #79139a;
}

.card {
    border: 2px solid #fff;
    box-shadow: 1px 1px 15px #ccc;
}

.card-body {
    background: #fff;
    width: 100%;
    vertical-align: top;
}

.card-content {
    text-align: left;
    color: #333;
    padding: 15px;
}

.card-text {
    font-size: 14px;
    font-weight: 300;
}

.card-title p {
    font-size: 12px;
}

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.jssorb031 {
    position: absolute;
}

.jssorb031 .i {
    position: absolute;
    cursor: pointer;
}

.jssorb031 .i .b {
    fill: #000;
    fill-opacity: 0.5;
    stroke: #fff;
    stroke-width: 1200;
    stroke-miterlimit: 10;
    stroke-opacity: 0.3;
}

.jssorb031 .i:hover .b {
    fill: #fff;
    fill-opacity: .7;
    stroke: #000;
    stroke-opacity: .5;
}

.jssorb031 .iav .b {
    fill: #fff;
    stroke: #000;
    fill-opacity: 1;
}

.jssorb031 .i.idn {
    opacity: .3;
}

.jssora051 {
    display: block;
    position: absolute;
    cursor: pointer;
}

.jssora051 .a {
    fill: none;
    stroke: #fff;
    stroke-width: 360;
    stroke-miterlimit: 10;
}

.jssora051:hover {
    opacity: .8;
}

.jssora051.jssora051dn {
    opacity: .5;
}

.jssora051.jssora051ds {
    opacity: .3;
    pointer-events: none;
}

.fees {
    text-align: center;
    margin-top: 20px;
}

.fees h1 {
    padding: 20px;
}

.fees-3 {
    grid-template-columns: 33% 33% 33%;
    display: grid;
}

.box {
    padding: 30px;
    min-height: 200px;
    min-width: 200px;
    background-color: gainsboro;
    justify-self: center;
    color: #79139a;
}

.box ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.box li {
    padding: 5px;
}

.box button {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #6F3984;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    border-radius: 0.25rem;
}

.box hr {
    width: 100%;
    background-color: rgb(152 150 150 / 35%);
    border: 0;
    height: 1px;
    margin: 10px 0;
}

.box h3 {
    font-size: 49px !important;
    font-family: Arial !important;
    font-weight: bold !important;
}

.box span {
    color: #ff8728;
    font-weight: bold;
}

.admission {
    display: grid;
    grid-template-columns: 70% 20%;
    justify-items: center;
    align-items: center;
    background-color: #7a1786;
    color: white;
}

.admission button {
    background-color: #f58634;
}

.footer-links {
    display: inherit;
    align-content: space-evenly;
}