@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.front-banner {
    text-align: center;
    padding: 30px;
}

.front-banner img {
    padding-top: 50px;
}

.front-banner p {
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    color: #535353;
}

.first {
    background-color: #e64d59;
    display: grid;
    grid-template-columns: 50% 45%;
    color: #fff;
    gap: 20px;
    align-items: center;
    padding-top: 30px;
}

.group {
    margin-top: -25px;
    position: absolute;
    left: 40%;
}

.group img {
    width: 15%;
}

@media screen and (max-width:600px) {
    .first {
        display: grid;
        grid-template-columns: auto;
    }
    .group {
        margin-top: -15px;
    }
    .first iframe {
        padding: 0 !important;
    }
}

.first iframe {
    width: 100%;
    padding: 30px;
    /* padding-left: 100px; */
    /* border-radius: 70px; */
}

.first p {
    text-align: center;
    padding: 40px;
}

.second h2 {
    color: white;
    text-align: left;
    font-size: 20px;
}

.second p {
    color: white;
    text-align: left;
    font-size: 15px;
}

.second-one {
    background-color: #92c83e;
    /* height: 75vh; */
}

.second-one img {
    margin: -60px;
    width: 100%;
}

@media screen and (max-width:1300px) {
    .side-images {
        display: none;
    }
}

.second-two {
    background-color: #92c83e;
    /* height: 75vh; */
}

.second-two img {
    float: right;
    position: relative;
    width: 80%;
}

.fourth-one {
    background-color: #813589;
    /* height: 100vh; */
}

.fourth-two {
    background-color: #813589;
    /* height: 50vh; */
}

.fifth-one {
    background-color: #e64d59;
}

.fifth-two {
    background-color: #e64d59;
}

.sixth-one {
    background-color: #0097dc;
    /* height: 100vh; */
}

.sixth-two {
    background-color: #0097dc;
    /* height: 100vh; */
}

.col-text {
    height: 20em;
}

.grid-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
}

.col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.col-left {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}

.col-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    width: 60%;
}

.col-image {
    background-size: cover;
    background-position: center center;
}

@media (max-width: 640px) {
    .grid-flex {
        height: 40em;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .col {
        order: vertical;
    }
    .col-left {
        -webkit-box-ordinal-group: 0;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
    }
    .col-text div p {
        padding: 1em;
    }
    .Aligner-item {
        width: 90%;
    }
}

.third {
    margin: 30px 20px;
    padding: 15px 0;
    text-align: center;
}

.third img {
    padding: 20px;
}

.fourth-one img {
    margin: -60px;
    width: 100%;
}

.fourth-two img {
    float: right;
    position: relative;
    width: 80%;
}

.fourth h2 {
    color: white;
    text-align: left;
    font-size: 20px;
}

.fourth p {
    color: white;
    text-align: left;
    font-size: 15px;
}

.fifth-one img {
    margin: -60px;
    width: 100%;
}

.fifth-two img {
    float: right;
    position: relative;
    width: 80%;
}

.fifth h2 {
    color: white;
    text-align: left;
    font-size: 20px;
}

.fifth p {
    color: white;
    text-align: left;
    font-size: 15px;
}

.sixth-one img {
    margin: -60px;
    width: 100%;
}

.sixth-two img {
    float: right;
    position: relative;
    width: 80%;
}

.sixth h2 {
    color: white;
    text-align: left;
    font-size: 30px;
}

.sixth p {
    color: white;
    text-align: left;
    font-size: 20px;
}

figure.snip1192 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: none !important;
}

figure.snip1192 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure.snip1192 img {
    max-width: 100%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: inline-block;
    z-index: 1;
    position: relative;
}

figure.snip1192 blockquote {
    margin: 0;
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #fafafa;
    padding: 30px 50px 65px 50px;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 0 -50px;
    line-height: 1.6em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
}

figure.snip1192 blockquote:before {
    top: 35px;
    left: 20px;
}

figure.snip1192 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 35px;
}

figure.snip1192 .author {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

figure.snip1192 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
}

figure.snip1192 .author h5 span {
    font-weight: 400;
    text-transform: none;
    display: block;
}

@media screen and (max-width: 700px) {
    .seventh-one {
        display: grid !important;
        grid-template-columns: auto;
    }
}

.seventh {
    text-align: center;
    color: white;
    padding-top: 30px;
}

.seventh-one {
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],

/* #contact textarea, */

#contact button[type="submit"] {
    font: 400 12px/16px;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 50px 0;
}

#contact h3 {
    color: #F96;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="number"] {
    width: 90%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="number"]:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #6F3984;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background-color: #A47CB0;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
    }
}
